<div class="vale-home-container pa-4 ux-fade-in-up">
  <mat-card class="w-100">
    <mat-card-content class="vale-home-content">
      <div class="gif-wrapper">
        <img
        src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnVid2lhb3YxMHh3amxuaW1ncHg0NDhrcjkyb2cwcjJycjRoMnQwZSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/0KmEps7W2VDZYE3wpa/giphy.gif" alt="Lol" class="gif-image w-100" />
      </div>

      <div class="question-block">
        <h2 class="section-title">Lol, what you think this is? You don't have a choice!</h2>
      </div>

      <div class="button-row">
        <button
          class="vale-button-primary vale-button"
          (click)="onYes()"
        >
          Yes
        </button>
        <button
          class="vale-button-primary vale-button"
          (click)="onYes()"
        >
          Yes
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
