<div class="vale-home-container pa-4 ux-fade-in-up">
  <mat-card class="w-100">
    <mat-card-content class="vale-home-content">
      <div class="gif-wrapper">
        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3cm9mZTNzYWVqb3NieTV3ZmdxZTgxMzNjc2p4ODB1NWljOWdyMjVydSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/7W1rgKAxlDe3m/giphy.gif" alt="Welcome" class="gif-image w-100" />
      </div>

      <div class="question-block">
        <h2 class="section-title">Will you be my Valentine?</h2>
      </div>

      <div class="button-row">
        <button
          class="vale-button-primary vale-button"
          (click)="onYes()"
        >
          Yes
        </button>
        <button
          class="vale-button-secondary vale-button"
          (mouseenter)="onNoHover()"
          (click)="onNo()"
          [style.transform]="noButtonTransform"
        >
          No
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
