<!-- https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbG0zNWNmZDNnd3J3MTJxbmF1ZG1zcnN4MTJyY2s5MHdmdjB0Y3o5aCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/TceVWfIA6RPbfga1H3/giphy.gif -->

<div class="vale-home-container pa-4 ux-fade-in-up">
  <mat-card class="w-100">
    <mat-card-content class="vale-home-content">
      <div class="gif-wrapper">
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbG0zNWNmZDNnd3J3MTJxbmF1ZG1zcnN4MTJyY2s5MHdmdjB0Y3o5aCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/TceVWfIA6RPbfga1H3/giphy.gif" alt="Welcome" class="gif-image w-100" />
      </div>

      <div class="question-block">
        <h2 class="section-title">Yessssssssssss! Talk to you soon</h2>
        <p class="mt-2">
          If you want to send a little message right now, you can drop me an email and I will see it as soon as I can.
        </p>
      </div>

      <div class="button-row">
        <button mat-raised-button color="primary" class="vale-button vale-button-primary" (click)="sendEmail()">
          Send an email
        </button>
        <button mat-stroked-button color="primary" class="vale-button vale-button-secondary" (click)="navigateToValentine()">
          See the Valentine again
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>